@import "../../global-style/style.scss";

.home-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.home-title {
  text-align: center;
  color: $main-color;
  font-weight: 500;
  font-size: 32px;
}
.home-text {
  white-space: pre-wrap;
  text-align: center;
  color: $thirdly-color;
  font-size: 16px;
}

.home-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 32px 0px;
  gap: 32px;
}

.home-img-desktop {
  display: none;

  @media #{$desktop-and-above} {
    display: initial;
    width: 100vw;
  }
}
.home-img-mobile {
  display: initial;
  width: 100vw;

  @media #{$desktop-and-above} {
    display: none;
  }
}
